node_modules

#Keys
secret.json

#Hardhat files
cache
artifacts
yarn-error.log

#Other
.DS_Store
scripts/deploy.js
.env
example-secret.json
hardhat.config.js
package-lock.json
bin
*.abi
hardhat.mainnet.config.js
delete.me
soljson-v0.8.10+commit.fc410830.js
testnetENV
hardhatconfid.TESTNET.js

